In [1]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [5]:
"I eat %s apples." %"five"

'I eat five apples.'

In [8]:
number = 3
e = "I eat %d apples." % number
print(e)

I eat 3 apples.

In [10]:
day = "five"
E = "I ate %d apples. so I was sick for %s days"%(number, day)
print(E)

I ate 3 apples. so I was sick for five days

In [11]:
"9를 8진수로 변환: %o"%9

'9를 8진수로 변환: 11'

In [12]:
"255를 16진수로 변환: %x, %X" %(255, 255)

'255를 16진수로 변환: ff, FF'

In [15]:
"16진수를 10진수로 변환: %d, %d" %(0xff, 0xFF)

'16진수를 10진수로 변환: 255, 255'

In [16]:
"8진수를 10진수로 변환: %d" %(0o11)

'8진수를 10진수로 변환: 9'

In [17]:
# %문자 출력
"Error is %d%%" %98

'Error is 98%'

In [8]:
def spaceCount(ch, strIn):
    tmp = strIn
    space = 0
    chStr = ""
    for i in tmp:
        if i == ch:
            space = space + 1  
    for i in range(1,space+1):
        chStr += str(i)
    return strIn.replace(space*ch, chStr)

In [9]:
#"%10s" %"hi"
#총 길이 10 중 'hi'를 오른쪽에 
spaceCount(" ", str1)

'12345678hi'

In [11]:
#총 길이 10 중 'hi'를 왼쪽에
str2 = "%-10s" %"hi"
spaceCount(" ",str2)

'hi12345678'

In [12]:
str3 = "%-10sBRBR" %"hi"
str3

'hi        BRBR'

In [13]:
spaceCount(" ",str3)

'hi12345678BRBR'

In [14]:
a = "abcde"

In [15]:
print(a.find('b'))  # 문자의 위치를 알려줌

1

In [16]:
print(a.find('k'))  # 없으면 -1

-1

In [17]:
print(a.index('b'))  # .find와 마찬가지

1

In [19]:
print(a.index('k')) #그러나 없으면 오류

ValueError: substring not found

In [20]:
print(",".join(a)) # ","로 조인

a,b,c,d,e

In [21]:
a = "Hhi"

In [22]:
print(a.upper())  # 대문자로 변환

HHI

In [23]:
print(a.lower())  # 소문자로 변환

hhi

In [24]:
a = "    s  df    "

In [27]:
print(a.rstrip())  # 오른쪽 공백 제거

    s  df

In [29]:
print(a.strip())  # 양쪽 공백 제거

s  df

In [31]:
a = "Life is too short"

In [33]:
print(a.replace("Life", "Time"))

Time is too short

In [34]:
print(a.split("i"))

['L', 'fe ', 's too short']

In [35]:
print("I eat {0} apples".format(3))

I eat 3 apples

In [36]:
print("I eat {0} apples".format("five"))

I eat five apples

In [37]:
number = 10
day = "three"
"I ate {0} apples. So I was sick for {1} days".format(number, day)

'I ate 10 apples. So i was sick for three days'

In [38]:
"I ate {n} apples. So I was sick for {d} days".format(n=number, d=day)

'I ate 10 apples. So I was sick for three days'

In [39]:
"I ate {0} apples. So I was sick for {d} days".format("ten", d = day)
# .format()에서 첨자와 변수를 혼용할 때는
#반드시 첨자 먼저{0} 그 다음 {d} 변수를 써야함

'I ate ten apples. So I was sick for three days'

In [47]:
"{0:>5}^{1:>3}".format("LI", "HI")

'   LI^ HI'

In [52]:
"{var:<5}@TTT".format(var="123")

'123  @TTT'

In [67]:
"{var:>5}@TTT".format(var="123")

'  123@TTT'

In [70]:
"{0:^13}".format("U")

'      U      '

In [72]:
"{0:$>10}".format("OOO")

'$$$$$$$OOO'

In [74]:
'{0:@<10}'.format("HHH")

'HHH@@@@@@@'

In [79]:
y = 3.235
"{0:0.4f}".format(y)

'3.2350'

In [82]:
"{0:^11.1f}".format(y)

'    3.2    '

In [93]:
"{{}}".format()

'{}'

In [95]:
sp = ""
f"{sp:15}LI"

'               LI'

In [97]:
f"{'':15}LI"

'               LI'

In [98]:
f"{:15}LI"

SyntaxError: f-string: empty expression not allowed (<ipython-input-98-1849322b20d6>, line 1)

In [107]:
f"{'1':^15}LI"

'       1       LI'

In [108]:
f"{'1':<15}LI"

'1              LI'

In [109]:
f"{'1':>15}LI"

'              1LI'

In [113]:
fl = 0.3522
f"{fl:8.2}"

'    0.35'