In [2]:
list = [1, 2, 3]
1 in list

True

In [3]:
1 not in list

False

In [4]:
432 in list

False

In [4]:
a = 0
while a < 10 :
    a = a + 1
    if a % 2 == 0:
        print(a)

2
4
6
8
10

In [6]:
a = 0
while a < 10 :
    a = a + 1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

In [11]:
tuple = 1, 2, 3, 4 
for i in tuple:
    print(i)

1
2
3
4

In [13]:
for a in range(1, 10):
    print(a)

1
2
3
4
5
6
7
8
9

In [15]:
list1102 = [1,2,'a',False, True]
for j in range(len(list1102)):
    print(list1102[j])

1
2
a
False
True

In [17]:
a = [(1,2), (3,4), (5,6)]
for i, j in a:
    print(i + j)

3
7
11

In [97]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
    
print(result)

[3, 6, 9, 12]

In [99]:
result2 = [num * 3 for num in a]
print(result2)

[3, 6, 9, 12]

In [101]:
result3 = [x*y for x in range(2, 10) for y in range(1, 10)]
print(result3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [103]:
def sum_many(*args):
    sum = 0
    print(type(args))
    for i in args:
        sum = sum + i
    return print(sum)

In [104]:
sum_many(1,2,3,4)

<class 'tuple'>
10

In [106]:
def cal_many(choice, *args):
    result = 0
    if choice == "sum":
        for i in args:
            result += i
        return result
    
    elif choice == "mul":
        result = 1
        for i in args:
            result *= i
            
    return result

In [107]:
cal_many("mul", 1, 2, 3, 4, 5)

120

In [108]:
cal_many("sum", 1,2,3,4,5)

15

In [109]:
def summul(a, b):
    return a+b, a*b

In [110]:
print(summul(2, 4))

(6, 8)

In [111]:
result1, result2 = summul(2,4)
print(result1)
print(result2)

6
8

In [126]:
#전역변수
a = 1
print(id(a))

def vartest():
    global a
    print(id(a))
    a = a + 1
    print(id(a))
    
vartest()

1993519328
1993519328
1993519360

In [127]:

print(id(a))
print(a)

1993519360
2

In [1]:
#조건
#돈이 3000원 이상 있거나 카드가 있으면 버스를 타고
#그렇지 않으면 걸어 가라

money = 2000
card = 1
if money >= 3000 or card:
    print("버스를 탄다")
else:
    print("슬프지만, 걸어간다.")

버스를 탄다

In [5]:
#조건
#주머니에 돈이 있으면 버스를 타고, 없으면 걸어가라

pocket = ["paper", "cellphone", "money"]
if "money" in pocket:
    print("버스를 탄다")
else:
    print("힘들지만, 걸어간다")

버스를 탄다

In [18]:
#열번 찍으면 넘어가는 나무

hit = 0
while hit < 10:
    hit = 1 + hit
    print(f"{hit}번")
    if hit == 10:
        print("나무를 쓰러트렸습니다.")

1번
2번
3번
4번
5번
6번
7번
8번
9번
10번
나무를 쓰러트렸습니다.

In [25]:
# 커피 자판기
#커피는 300원이고, 300원 이상 받으면 거스름돈을 돌려줍니다.
#커피를 판매하면 재고를 감소시키고
#모든 재고가 소진되면 판매를 종료합니다.

coffee = 3
while coffee > 0:
    money = int(input("돈을 넣어 주세요: "))
    if money < 300:
        print("금액이 모자랍니다.")
    else:
        coffee = coffee - 1
        if money > 300:
            print(f"거스름돈이 나옵니다. : {money - 300}원")
        print("커피나왔습니다.")
    print()
            
print("오늘은 커피가 모두 팔렸습니다.")

돈을 넣어 주세요: 200
금액이 모자랍니다.

돈을 넣어 주세요: 300
커피나왔습니다.

돈을 넣어 주세요: 1000
거스름돈이 나옵니다. : 700원
커피나왔습니다.

돈을 넣어 주세요: 330
거스름돈이 나옵니다. : 30원
커피나왔습니다.

오늘은 커피가 모두 팔렸습니다.

In [81]:
#달력 출력
month = [31]
start = 5

days = [0, 1, 2, 3, 4, 5, 6]

for i in range(1, month[0]+1):
    if i is 1:
        print("   "*start, end = '')
    print(f"{i:3}", end = '')
    
    if start == 0:
        start = 7
    if i % 7 == 7-start:
        print()

                 1  2
  3  4  5  6  7  8  9
 10 11 12 13 14 15 16
 17 18 19 20 21 22 23
 24 25 26 27 28 29