In [3]:
from  urllib.request import urlopen
import xml.etree.ElementTree as ET
import zipfile
import io
import os, sys
import pandas as pd

In [4]:

FILENAME = ""


saveFileDir = "c:\KhAPI\data\dart\corpcode";
print("회사코드 저장 경로: ", saveFileDir)

API_KEY = "발급한 API 키를 입력하세요"

def down_corp_codeXML(API_KEY, saveFileDir):
    url = "https://opendart.fss.or.kr/api/corpCode.xml?crtfc_key="
    with urlopen(url+API_KEY) as zipresp:
        with io.BytesIO(zipresp.read()) as ioB:
            with zipfile.ZipFile(ioB) as zip:
                zip.extractall(saveFileDir)

회사코드 저장 경로:  c:\KhAPI\data\dart\corpcode

In [13]:
#     <CORPCODE.xml>
#     <result>
#         <list>
#             <corp_code>00434003</corp_code>
#             <corp_name>다코</corp_name>
#             <stock_code> </stock_code>
#             <modify_date>20170630</modify_date>
#         </list>
#         <list>
#             <corp_code>00434456</corp_code>
#             <corp_name>일산약품</corp_name>
#             <stock_code> </stock_code>
#             <modify_date>20170630</modify_date>
#         </list>
#         <list>
#             <corp_code>00430964</corp_code>
#             <corp_name>굿앤엘에스</corp_name>
#             <stock_code> </stock_code>
#             <modify_date>20170630</modify_date>
#         </list>
#     </result>




def parse_corp_code(saveFileDir):
    a = []
    b = []
    c = []
    
    xml_file = f"{saveFileDir}\CORPCODE.xml"
    print(xml_file)
    doc = ET.parse(xml_file).getroot()
    list_tg = doc.findall("list")

    
    for i in list_tg:
        # if i.find("stock_code").text != " ":
        #     print(i.find("stock_code").text)
        a.append(i.find("corp_code").text)
        c.append(i.find("corp_name").text)
        if i.find("stock_code").text == " ":
            b.append("99999999")
        else:
            b.append(i.find("stock_code").text)
            
    res = [a, b, c]
    return res

In [14]:
abc = parse_corp_code(saveFileDir)
res = {"corp_code": abc[0], "stock_code":abc[1], "corp_name":abc[2]}

c:\KhAPI\data\dart\corpcode\CORPCODE.xml
89402    99999999
89403    99999999
89404    99999999
89405    99999999
89406    99999999
Name: stock_code, dtype: object

In [15]:
p1 = pd.DataFrame(res)

89402    99999999
89403    99999999
89404    99999999
89405    99999999
89406    99999999
Name: stock_code, dtype: object

In [16]:
p1['stock_code'].tail()

89402    99999999
89403    99999999
89404    99999999
89405    99999999
89406    99999999
Name: stock_code, dtype: object

In [18]:
p1['stock_code'].head()

0    99999999
1    99999999
2    99999999
3    99999999
4    99999999
Name: stock_code, dtype: object

In [54]:
reidx = p1.set_index('stock_code').sort_index()

In [55]:
reidx[:]

           corp_code    corp_name
stock_code
000010      00149293         신한은행
000020      00119195         동화약품
000030      00254045         우리은행
000040      00112378        KR모터스
000050      00101628           경방
...              ...          ...
99999999    00760494     얼라이언스번스틴
99999999    00760485  얼라이언스번스틴시카브
99999999    01126378    래피드플랜트제팔차
99999999    01132616    비디에스에프제칠차
99999999    01368761   엔브이에이치원방테크

[89407 rows x 2 columns]

In [60]:
print(reidx.loc[:"99999998"][:1200])

           corp_code  corp_name
stock_code
000010      00149293       신한은행
000020      00119195       동화약품
000030      00254045       우리은행
000040      00112378      KR모터스
000050      00101628         경방
...              ...        ...
039530      00252755  씨앤케이인터내셔널
039560      00268251     다산네트웍스
039570      00350312      HDC랩스
039580      00264185      피코소프트
039610      00217743       화성밸브

[1200 rows x 2 columns]

AttributeError: 'DataFrame' object has no attribute 'sort'